h1,
h2,
h3 {
  font-family: "Abril Fatface";
}

p,
p1,
ul,
li,
h4,
h5 {
  font-family: "Josefin Sans";
}

h6 {
  font-family: "Merriweather";
  font-size: 15px;
  font-style: italic;
  margin-top: -30px;
  font-weight: 900;
}

h5 {
  font-size: 20px;
}

h4 {
  font-size: 25px;
  margin-top: 50px;
  margin-bottom: 70px;
  text-transform: uppercase;
}

h3 {
  font-size: 30px;
}

h2 {
  font-size: 40px;
  background-color: #222;
  color: white;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
}

h1 {
  font-size: 45px;
}

ul.a {
  list-style-type: square;
  line-height: 160%;
}

#first {
  font-size: 18px;
}

p1 {
  font-size: 18px;
}

.container {
  position: relative;
  margin-bottom: 50px;
}

.hi {
  bottom: 8px;
  left: 16px;
}

img {
  width: 1100px;
}

.content {
  width: 800px;
  margin: auto;
}

header {
  background: url("https://raw.githubusercontent.com/green-fox-academy/myfirstapp-syllabus/master/assets/first-website-header.png");
  background-size: cover;
  height: 300px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
}
header .content {
  height: 40px;
}
